*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Nexa,Helvetica,Arial,sans-serif;
    line-height: 1.75;
}

@media only screen and (min-width: 960px) {
    header {
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        background-color: #fff;
        position: relative;

        .navbar {
            padding: 0 1.5rem;
            text-align: center;
            display: flex;
            position: relative;
            justify-content: center;

            .navbarLeft {
                left: 0;
                padding-right: 1.5rem;
                display: flex;
                justify-content: flex-end;

                ul {
                    display: flex;
                    align-items: center;
                    
                    li {
                        list-style: none;
                        padding: 0 2rem;
                        margin: 0;

                        a {
                            display: block;
                            padding: 1.7rem 1.4rem;
                            font-size: 1em;
                        }
                    }
                }
            }

            .logo {
                    padding: 1rem 1rem;

                    img {
                        width: 6em;
                        height: 2.5em;
                        object-fit: cover;
                    }
            }

            .navbarRight {
                right: 0;
                padding-left: 1.5rem;

                ul {
                    display: flex;
                    align-items: center;

                    li {
                        list-style: none;
                        padding: 0 2rem;
                        margin: 0;

                        a {
                            display: block;
                            padding: 1.7rem 1.4rem;
                            font-size: 1em;
                        }
                    }
                }
            }

            .iconos {
                a {
                    display: block;
                    padding: 1.7rem 1.4rem;
                    position: absolute;
                    right: 16px;

                    .icon {
                        display: block;
                        width: 1.15em;
                        height: 1.15em;
                    }
                }
            }
        }
    }

    .banner {
        height: 100vh;
        width: 100vw;

        .contenedorBanner {
            height: 100%;
            padding: 4rem;
            background-color: #B8D9D0;
            position: relative;
            margin-left: auto;
            padding-left: 3rem;
            padding-right: 3rem;
            display: flex;

            div {
                width: 53%;
                height: auto;
    
                .tituloBanner {
                    margin-bottom: 3rem;
                    width: 100%;
    
                    h1 {
                        font-size: 8rem;
                        width: 100%;
                        line-height: 120%;
                        padding-bottom: 2rem;
                    }
    
                    h2 {
                        font-size: 1.5rem;
                        font-weight: 100;
                        width: 100%;
                    }
                }
    
                .boton {
                    padding: 20px 72px;
                    background-color: #F2798F;
                    color: white;
                    cursor: pointer;
                    border-radius: 10px;
                    font-size: 22px;
                    text-decoration: inherit;
                }
            }
            
            img {
                height: auto;
                width: 40vw;
                display: block;
                z-index: 20;
                position: absolute;
                top: 2rem;
                right: 2rem;
                bottom: -8rem;
                max-width: 100%;
            }
        }
    }
}
